/* Chat */

#chatContainer {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.chat {
    width: 200px;
    height: 140px;
    padding: 5px;
    border: 1px solid #ccc;
}
/* Editor */

#editorContainer {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

#buttonContainer {
    margin-top: 10px;
}

.right { float: right; }

#testFrame {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
